* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  color: #edfeff;
}

a {
  color: #00ffd0;
}

.material-icons {
  font-size: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  background: #19222d;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 10rem;
  border: 0.6rem solid #2d3640;
}

.score__counter {
  font-size: 6.4rem;
  font-weight: 600;
  color: #00ffd0;
  text-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
  margin-bottom: 1rem;
}

.score__per-second {
  font-size: 2.4rem;
  font-weight: 400;
}

.plus-button {
  display: block;
  width: 22rem;
  height: 22rem;
  border-radius: 1000px;
  color: inherit;
  background: #2d3640;
  border: 0.6rem solid #00ffd0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.plus-button .material-icons {
  font-size: 7.2rem;
}

.shop {
  background: #171f29;
}

.bonus {
  position: relative;
  padding: 2rem 2rem 5rem 2rem;
  background: #2d3640;
}

.bonus__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bonus__counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 1000px;
  background: #424a53;
  margin-right: 1.6rem;
}

.bonus__counter {
  font-size: 3rem;
  font-weight: 700;
  color: #00ffd0;
}

.bonus__info {
  font-size: 2rem;
}

.bonus__title {
  font-weight: 700;
}

.bonus__specs {
  font-weight: 400;
}

.bonus__buy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #19222d;
  background: #00ffd0;
  border-radius: 1000px;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
}

.bonus__buy .material-icons {
  margin-right: 1rem;
}

.footer {
  margin-top: 10rem;
  text-align: center;
  font-size: 1.8rem;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer__credit {
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */