$clr-cyan: #00ffd0;
$clr-off-white: #edfeff;
$clr-grey-1: #171f29;
$clr-grey-2: #19222d;
$clr-grey-3: #2d3640;
$clr-grey-4: #424a53;
$clr-grey-5: #575e66;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
