$clr-cyan: #00ffd0;
$clr-off-white: #edfeff;
$clr-grey-1: #171f29;
$clr-grey-2: #19222d;
$clr-grey-3: #2d3640;
$clr-grey-4: #424a53;
$clr-grey-5: #575e66;

$neon-glow: 0 0 20px rgba(0, 255, 208, 0.5);

/* ========== GLOBAL ========== */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow", sans-serif;
    color: $clr-off-white;
}

/* ========== GENERAL ========== */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.material-icons {
    font-size: inherit;
}

::selection {
    color: $clr-grey-2;
    background: $clr-cyan;
}

button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &::-moz-focus-inner {
        border: 0;
    }
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* ========== TYPOGRAPHY ========== */

a {
    color: $clr-cyan;
}

/* ========== MAIN SECTION ========== */

.main-section {
    background: $clr-grey-2;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.score {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    width: 100%;
    border: 0.6rem solid $clr-grey-3;
    .odometer {
        font-family: "IBM Plex Mono", monospace;
        font-size: 6.4rem;
        font-weight: 600;
        color: $clr-cyan;
        margin-bottom: 1rem;
    }
    &__per-second {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

.plus-button-wrapper {
    position: relative;
    width: min-content;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.plus-button {
    display: block;
    position: relative;
    z-index: 1;
    width: 22rem;
    height: 22rem;
    border-radius: 1000px;
    color: inherit;
    background: $clr-grey-3;
    border: 0.6rem solid $clr-cyan;
    box-shadow: $neon-glow;
    transition: transform 50ms ease-out;
    .material-icons {
        font-size: 7.2rem;
    }
    &:active {
        transform: scale(0.9);
        box-shadow: none;
    }
}

.ripple {
    border-radius: 50%;
    border: 6px solid $clr-grey-4;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: ripple 0.5s cubic-bezier(0.17, 0.84, 0.44, 1) forwards;
}

@keyframes ripple {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

/* ========== SHOP SECTION ========== */

.shop-section {
    background: $clr-grey-1;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.bonus {
    position: relative;
    padding: 2rem 2rem 5rem 2rem;
    background: $clr-grey-3;
    &__top {
        display: flex;
        align-items: center;
    }
    &__counter-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        border-radius: 1000px;
        background: $clr-grey-4;
        margin-right: 1.6rem;
    }
    &__counter {
        font-size: 3rem;
        font-weight: 700;
        color: $clr-cyan;
    }
    &__info {
        font-size: 2rem;
    }
    &__title {
        font-weight: 700;
    }
    &__specs {
        font-weight: 400;
    }
    &__buy {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: $clr-grey-2;
        background: $clr-cyan;
        border-radius: 1000px;
        padding: 2rem;
        box-shadow: $neon-glow;
        transition: all 0.2s;
        .material-icons {
            margin-right: 1rem;
        }
        &:disabled {
            color: $clr-off-white;
            background: $clr-grey-4;
            box-shadow: none;
            cursor: not-allowed;
        }
    }
}

/* ========== FOOTER ========== */

.footer {
    margin-top: 10rem;
    text-align: center;
    font-size: 1.8rem;
    &__title {
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__credit {
        font-weight: 500;
    }
}

/* ========== MEDIA QUERIES ========== */

@media (min-width: 900px) {
    .main {
        display: flex;
    }
    .main-section,
    .shop-section {
        display: flex;
        align-items: center;
        width: 50%;
        min-height: 100vh;
        padding: 0;
        &__container {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .bonus {
        width: 42rem;
    }
    .footer {
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
