$clr-cyan: #00ffd0;
$clr-off-white: #edfeff;
$clr-grey-1: #171f29;
$clr-grey-2: #19222d;
$clr-grey-3: #2d3640;
$clr-grey-4: #424a53;
$clr-grey-5: #575e66;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow", sans-serif;
    color: $clr-off-white;
}

a {
    color: $clr-cyan;
}

.material-icons {
    font-size: inherit;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    background: $clr-grey-2;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.score {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 10rem;
    border: 0.6rem solid $clr-grey-3;
    &__counter {
        font-size: 6.4rem;
        font-weight: 600;
        color: $clr-cyan;
        text-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
        margin-bottom: 1rem;
    }
    &__per-second {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

.plus-button {
    display: block;
    width: 22rem;
    height: 22rem;
    border-radius: 1000px;
    color: inherit;
    background: $clr-grey-3;
    border: 0.6rem solid $clr-cyan;
    box-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    .material-icons {
        font-size: 7.2rem;
    }
}

.shop {
    background: $clr-grey-1;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.bonus {
    position: relative;
    padding: 2rem 2rem 5rem 2rem;
    background: $clr-grey-3;
    &__top {
        display: flex;
        align-items: center;
    }
    &__counter-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        border-radius: 1000px;
        background: $clr-grey-4;
        margin-right: 1.6rem;
    }
    &__counter {
        font-size: 3rem;
        font-weight: 700;
        color: $clr-cyan;
    }
    &__info {
        font-size: 2rem;
    }
    &__title {
        font-weight: 700;
    }
    &__specs {
        font-weight: 400;
    }
    &__buy {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: $clr-grey-2;
        background: $clr-cyan;
        border-radius: 1000px;
        padding: 2rem;
        box-shadow: 0px 0px 20px rgba(0, 255, 208, 0.5);
        .material-icons {
            margin-right: 1rem;
        }
    }
}

.footer {
    margin-top: 10rem;
    text-align: center;
    font-size: 1.8rem;
    &__title {
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__credit {
        font-weight: 500;
    }
}
